<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 别名 -->
    <typeAliases>
        <package name="com.yang.crm.model"/>
    </typeAliases>
    <!--指向mapper文件所在包-->
<!--    <mappers>-->
<!--        <package name="com.yang.crm.settings.mapper"/>-->
<!--    </mappers>-->
</configuration>
